@charset "utf-8";

/* 노말라이즈 */
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {

}

/* 라이브러리 */
.con {
	width: 1200px;
}

.table-box>table {
	width: 100%;
	border-collapse: collapse;
}

.table-box>table td, .table-box>table th {
	padding: 10px;
	border: 1px solid black;
}

/* 커스텀 */
.con {
	margin-left: auto;
	margin-right: auto;
} 